header{
    background-color: #869DC7;
}
footer{
    background-color: #869DC7;
}
body{
    background-image: url("/images/backgroundcolor.jpg");
    background-color: #000066;
    font-family: Arial, sans-serif;

}
#wrapper{
    margin: 60px auto;
    width: 70%;
    color: #000066;
    border:none;
    border-radius: 20px;
    box-shadow:4px 4px 3px #00005D;
    background-image: url("/images/backgroundcolor.jpg");
}
main { display: block;
    /*background-color: #ffffff;*/
    color: #000000;
    padding: 0 20px;
    overflow: auto;         /**/
    margin:0 10px;
    border-radius: 20px;
}

h2 {
    color: #869DC7;
    font-family: Arial, sans-serif;
}
thead{
    background-color: #B3C7E6;
}
table{
    border: 2px solid #B3C7E6;
    box-shadow: 2px 2px 1px #000066;
    /*margin-top: -15px;*/
}
.floatright{
    float: right;
    margin-bottom: 10px;
    /*font-size: 1.5em;*/
}

.modal-header{
    font-size:2em;
    text-align:center;
    font-family:Verdana,Arial,sans-serif;
    text-shadow:1.5px 1.5px 1px #8c8c8c;
}
.modal-body {
    color: #6C6C6C;

}

